/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.dot{
  width:27px;
  height:27px;
  position:absolute;
  background: url(../img/leaf.png);
  background-size: 100% 100%;
  z-index:100000;
}